@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: #fafafa;
  background-color: #1c1c28;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #28293d;
    background-color: #f7f7fa;
  }
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'DingDing';
  font-weight: 400;
  src: url('/DingTalk_Sans.ttf') format('truetype');
  font-display: swap;
}
